.navbar {

    background-color: #c00000f6 !important;
    padding: 1rem 7rem;
    height: 100px;
    box-sizing: border-box;

}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.nav-link {
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size-adjust: auto;
    letter-spacing: 0.5px;
}

.nav-link:hover {
    color: #989898 !important;
}

.form-control {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}

.hero-seccion {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 4rem 5rem;
    text-align: center;
    background-image: url('assets/hero-image.jpg');
    background-size: cover;
    background-position: center;

}

.hero-texto-container {
    gap: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-seccion {
    background-color: #140083e3;
    color: #ffffff;
    padding: 4rem 5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.contacto-seccion {
    background-color: #c00000f6;
    color: #ffffff;
    padding: 4rem 5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.contacto-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contacto-form textarea {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}